.pricing {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px 0;

    h2 {
       
        font-size: clamp(4.3rem,4vh,3.5rem);
        font-weight: 400;
         font-family: "Poppins", sans-serif;
    }

   

    .pricing_block {

        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 150px;
        gap: 20px;
        flex-wrap: wrap;

        .box {

            box-shadow: 0 0 1px 2px rgba(128, 128, 128, 0.468);
            max-width: 480px;
            min-width: 270px;
            // width: 100%;
            flex-grow: .4;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;



            h2 {
                margin: 0;
                width: 100%;
                padding: 20px;
                text-align: center;
                color: white;
                font-weight: 300;
                font-size: clamp(2.5rem, 4vh, 2rem);
            }

            p {
                border-bottom: 1px groove;
                margin: 0;
                width: 100%;
                padding: 15px;
                text-align: center;
            }

            .count {
                padding: 25px;
            }
            &:hover{
                box-shadow: 0 0 2px 2px gray;
            }
            @media screen and (max-width:375px) {
                min-width: 206px;
                
            }

        }

        .basic>h2 {
            background: #616161;
        }

        .premium>h2 {
            background: #f44336;
        }
        @media screen and (max-width:768px)  {
            padding: 50px;

            
        }
    }

    .btnn {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        background:#f1f1f1;
        >.btn{
            background: #000;
            border: #000;
            padding: 10px !important;
            &:hover{
                background: rgba(128, 128, 128, 0.519);
                color: #000;
                svg{
                    fill: black;
                }
            }
        }
        .modal {

                        padding: 50px;

                        .modal-dialog {
                            position: relative;
                            max-width: 100% !important;
                            height: 100vh !important;


                            .modal-content {

                                position: absolute;
                                top: 10px;
                                left: 0 !important;
                                right: 0 !important;


                                .modal-header {

                                    display: flex !important;
                                    align-items: flex-start;
                                    justify-content: space-between;
                                    flex-direction: column;
                                    gap: 10px;
                                    padding-bottom: 0;

                                    h2 {
                                        width: 100%;
                                        display: flex !important;
                                        align-items: center;
                                        justify-content: space-between;

                                    }

                                    p {
                                        width: 100% !important;
                                        text-align: justify;
                                    }
                                }

                                .modal-body {
                                    padding-top: 0;

                                    input {
                                        width: 100%;
                                        padding: 10px 8px;
                                    }
                                }
                            }
                        }
                    }


    }
}